<div class="fixed -z-10 inset-0">
        <div class="shape absolute w-[300px] sm:w-[400px] xl:w-[650px] -top-[80px] -left-[80px] rotate-12 text-bm_yellow"
             style="will-change: transform; transition-property: transform; transition-duration: 250ms; transition-timing-function: ease-out;">
            <include src="../img/BM2024_Icon_Hourglass.svg"></include>
        </div>
        <div class="shape absolute w-[400px] sm:w-[500px] xl:w-[750px] top-[100px] -right-[80px] -rotate-12 text-bm_pink"
             style="will-change: transform; transition-property: transform; transition-duration: 250ms; transition-timing-function: ease-out;">
            <include src="../img/BM2024_Icon_Diamond.svg"></include>
        </div>
        <div class="shape absolute w-[300px] sm:w-[400px] xl:w-[650px] -bottom-[120px] left-8 text-bm_blue"
             style="will-change: transform; transition-property: transform; transition-duration: 250ms; transition-timing-function: ease-out;">
            <include src="../img/BM2024_Icon_Circle.svg"></include>
        </div>

    <div class="blur-vignette">
    </div>
</div>
