<nav class="bg-bm_white text-black px-2 sm:px-5 flex flex-col justify-evenly items-center sm:items-start h-full overflow-x-clip">
    <each loop="item in [
        {
            title: 'My tools:', link: '#', children: [
                { title: 'Adobe After Effects', link: false },
                { title: 'Adobe Photoshop', link: false },
                { title: 'Adobe Illustrator', link: false },
                { title: 'Blender 3D', link: false, subscript: '(but only a little bit)' },
            ]
        },
        {
            title: 'Socials', link: '#', children: [
                { title: 'Email', link: 'mailto:jake@bad-media.net' },
                { title: 'LinkedIn', link: 'https://www.linkedin.com/in/jake-wesley-worrall-49223162/' },
                { title: 'Instagram', link: 'https://www.instagram.com/picturemover' },
                { title: 'Film', link: 'https://www.yepfilms.co.uk' },
            ]
        }
    ]">
        <div>
            <h2 class="font-semibold text-base sm:text-lg leading-snug sm:leading-tight">{{item.title}}</h2>
            <ul class="leading-snug sm:leading-tight">
                <each loop="child in item.children">
                    <if condition="child.link">
                        <li class="link-hover whitespace-nowrap" data-content="{{child.title}}">
                            <a href="{{child.link}}" class="whitespace-nowrap">
                                {{child.title}}
                            </a>
                            <if condition="child.subscript">
                                <sub class="whitespace-nowrap">{{child.subscript}}</sub>
                            </if>
                        </li>
                    </if>
                    <else>
                        <li class="whitespace-nowrap">
                            <span class="whitespace-nowrap">
                                {{child.title}}
                            </span>
                            <if condition="child.subscript">
                                <sub class="whitespace-nowrap">{{child.subscript}}</sub>
                            </if>
                        </li>
                    </else>
                </each>
            </ul>
        </div>
    </each>
</nav>
