@tailwind base;
@tailwind utilities;
@tailwind components;



@layer base {
  @font-face {
    font-family: SohneBreit;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/SohneBreit-Buch.woff2') format('woff2');
  }
  @font-face {
    font-family: SohneBreit;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/SohneBreit-Halbfett.woff2') format('woff2');
  }
}

.link-hover {
    position: relative;
    width: fit-content;
    height: fit-content;
    z-index: 0;
}
.link-hover::after{
  position: absolute;
  content: attr(data-content);
  color: white;
  background: black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: calc(100% + 2px);
  bottom: -1px;
  left: -4px;
  padding: 1px 4px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: hidden;
  pointer-events: none;
}
.link-hover:hover::after{
	width: calc(100% + 8px);
  visibility: visible;
}

.blur-vignette-disabled {
    position: absolute;
    inset: 0;

    box-shadow: inset 0 0 100px 20px rgba(0, 0, 0, 0.2);
    mask: radial-gradient(#0000 60%, rgba(0, 0, 0, 0.9) 80%);
    backdrop-filter:blur(10px);
}

.blur-vignette-disabled {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  min-height: 125vh;
  min-width: 125vw;
  position: fixed;
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
}
@keyframes animateGrain{
  0%, 100% { transform:translate(0, 0) }
  10%{ transform:translate(-5%,-10%) }
  20%{ transform:translate(-15%,-20%) }
  30%{ transform:translate(-5%,-10%) }
  40%{ transform:translate(-15%,-20%) }
  50%{ transform:translate(-5%,-10%) }
  60%{ transform:translate(-15%,-20%) }
  70%{ transform:translate(-5%,-10%) }
  80%{ transform:translate(-15%,-20%) }
  90%{ transform:translate(-5%,-10%) }
  100%{ transform:translate(-15%,-20%) }
}

  .skew-shake-x {
    animation: skew-x-shake 1.5s infinite;
  }
  @keyframes skew-x-shake {
    0% { transform: skewX(-2deg); }
    3% { transform: skewX(2deg); }
    6% { transform: skewX(-2deg); }
    9% { transform: skewX(2deg); }
    12% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
  }
